@import './constants/colors.scss';
@import './constants/sizes.scss';
@import './constants/fonts.scss';

.disco-font {
  font-family: 'beon' !important;
  font-size: 36px;
}

.disco-btn.pink {
  color: #ff5ef9;
  border: 3px solid #ff5ef9;
}

.disco-btn.pink:hover {
  background: #ff5ef9;
  color: #000;
  box-shadow: 0 0 0.25rem #ff5ef9, 0 0 0.65rem #ff5ef9;
}

.disco-btn.gold {
  color: #ffd600;
  border: 3px solid #ffd600;
}

.disco-btn.gold:hover {
  background: #ffd600;
  color: #000;
  box-shadow: 0 0 0.25rem #ffd600, 0 0 0.65rem #ffd600;
}

.disco-btn.purple {
  color: #af7eff;
  border: 3px solid #af7eff;
}

.disco-btn.purple:hover {
  background: #af7eff;
  color: #000;
  box-shadow: 0 0 0.25rem #af7eff, 0 0 0.65rem #af7eff;
}
.disco-btn.red {
  color: #ff6b6b;
  border: 3px solid #ff6b6b;
}

.disco-btn.red:hover {
  background: #ff6b6b;
  color: #000;
  box-shadow: 0 0 0.25rem #ff6b6b, 0 0 0.65rem #ff6b6b;
}

.disco-btn.green {
  color: #19fb9b;
  border: 3px solid #19fb9b;
}

.disco-btn.green:active,
.disco-btn.green:focus {
  background: #19fb9b;
  color: #000;
  box-shadow: 0 0 0.25rem #19fb9b, 0 0 0.65rem #19fb9b;
}

.disco-btn.green:hover {
  background: #19fb9b;
  color: #000;
  box-shadow: 0 0 0.25rem #19fb9b, 0 0 0.65rem #19fb9b;
}

.disco-btn.blue {
  color: #00f0ff;
  border: 3px solid #00f0ff;
}

.disco-btn.blue:hover {
  background: #00f0ff;
  color: #000;
  box-shadow: 0 0 0.25rem #00f0ff, 0 0 0.65rem #00f0ff;
}

.disco-card.blue {
  border: 3px solid #00f0ff;
  background-color: rgba(0, 240, 251, 0.1);
}

.disco-card.blue:hover {
  box-shadow: 0 0 0.25rem #00f0ff, 0 0 0.65rem #00f0ff;
}

.disco-text.blue {
  color: #00f0ff;
  text-shadow: 0px 0px 8px #00f0ff;
}

.disco-text.gold {
  color: #ffd600;
  text-shadow: 0px 0px 16px #ffd600;
}

.disco-text.purple {
  color: #af7eff;
}

.disco-text-glow:hover.purple {
  text-shadow: 0px 0px 16px #af7eff;
}

.disco-text.green {
  color: #19fb9b;
  text-shadow: 0px 0px 16px #19fb9b;
}

.disco-bottom-sheet {
  padding: 0 !important;
  background-color: rgba(2, 32, 73, 0.85);
}

.disco-border.blue {
  border-color: #00f0ff;
}

.disco-layer.blue {
  background-color: rgba(0, 240, 251, 0.1);
}

.disco-glow:hover.blue {
  box-shadow: 0 0 0.25rem #00f0ff, 0 0 0.65rem #00f0ff;
}

.wallet-modal .mat-dialog-container {
  padding: 0 !important;
  background-color: rgba(2, 32, 73, 0.85);
}

.wallet-modal hd-wallet-modal {
  border: 4px solid #00f0ff;
  padding: 0.5rem;
  backdrop-filter: blur(4px);
}

.wallet-modal hd-wallet-modal h2 {
  color: #00f0ff;
  text-shadow: 0px 0px 8px #00f0ff;
  font-family: 'beon' !important;
  font-size: 36px;
}

.wallet-modal hd-wallet-modal .mat-list-base,
.wallet-modal hd-wallet-modal .mat-expansion-panel,
.wallet-modal hd-wallet-modal .mat-expansion-panel-body {
  background-color: transparent !important;
  padding: 0 !important;
}

.disco-accepted-mint-logo {
  width: 20px !important;
  height: 20px !important;
  border-radius: 20px;
}
